@media (max-width: 1600px) {
  .information .answer {
    margin-right: 10px;
  }

  .mayas-container {
    margin-left: 120px;
  }

  .links {
    margin-right: 100px;
  }

  .banner .logotype {
    left: 120px;
  }

  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      max-width: 580px;
      left: 120px;
      bottom: 200px;

      h2 {
        font-size: 35px;
      }

      p {
        font-size: 20px;
      }
    }

    .carousel-indicators {
      margin-left: 120px;
      bottom: 180px;
    }
  }

  .information .answer {
    margin-right: 50px;

    h1.ans-title {
      font-size: 35px;
    }

    p.ans-text {
      font-size: 17px;
    }
  }

  .links .card .card-body {
    .podrobno {
      font-size: 16px;
    }

    .card-title {
      font-size: 17px;
    }
  }
}

@media (max-width: 1350px) {
  .information {
    .info-img img {
      max-height: 220px;
    }

    .answer {
      h1.ans-title {
        font-size: 28px;
      }

      .pink {
        width: 60px;
        height: 5px;
      }
    }
  }

  .banner .carousel .carousel-inner .carousel-item .carousel-caption {
    max-width: 500px;

    h2 {
      font-size: 25px;
    }

    p {
      font-size: 15px;
    }
  }

  .consultation .right-block {
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;

    h1 {
      font-size: 35px;
    }

    p {
      font-size: 20px;
    }

    .form-row {
      input {
        height: 40px;
      }
    }

    .form-group textarea {
      height: 150px;
    }
  }
}

@media (max-width: 1080px) {
  .banner {
    .logotype {
      top: 30px;

      img {
        max-height: 40px;
      }
    }

    .sign-in {
      top: 30px;
      right: 30px;

      span {
        font-size: 20px;
        padding-right: 10px;
      }

      svg {
        width: 30px;
      }
    }
  }

  .links {
    margin-right: 50px;

    .card .card-body {
      margin-right: 40px;
    }
  }

  .information {
    .info-img img {
      margin-right: -120px;
    }

    .answer {
      h1.ans-title {
        font-size: 22px;
      }

      p.ans-text {
        font-size: 16px;
      }
    }
  }

  .mayas-container {
    overflow: hidden;
  }

  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      max-width: 400px;
      bottom: 100px;
    }

    .carousel-indicators {
      bottom: 80px;
    }
  }
}

@media (max-width: 1025px) {
  footer .others a {
    margin-right: 30px;
  }

  footer .abs p {
    font-size: 16px;
    margin-bottom: 0;
  }
}

@media (max-width: 978px) {
  .consultation .left-block img {
    display: none;
  }

  .consultation .right-block {
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 50px;

    h1 {
      font-size: 30px;
    }

    p {
      margin-bottom: 50px;
      font-size: 18px;
    }
  }

  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      max-width: 350px;
      bottom: 50px;
    }

    .carousel-indicators {
      bottom: 40px;
    }
  }

  .information {
    margin-right: 50px;
  }

  .information.d-flex {
    display: block!important;

    .answer {
      margin-right: 0;
      max-width: 700px;
    }

    .info-img img {
      margin-right: 0;
      max-width: 700px;
    }
  }

  footer {
    .mayas-container {
      margin-left: 120px;
    }

    .others a {
      font-size: 22px;
    }
  }
}

@media (max-width: 870px) {
  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      max-width: 300px;
      bottom: 30px;

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 13px;
      }
    }

    .carousel-indicators {
      bottom: 20px;
    }
  }

  .consultation .right-block h1 {
    font-size: 30px;
    max-width: 400px;
  }
}

@media (max-width: 820px) {
  .links .card .card-body {
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (max-width: 780px) {
  .banner .carousel .carousel-inner {
    .carousel-item {
      .main {
        display: none;
      }

      .black {
        display: block!important;
      }

      .carousel-caption {
        bottom: 330px;
        max-width: 500px;

        h2 {
          font-size: 30px;
        }

        p {
          font-size: 20px;
        }
      }
    }

    .carousel-indicators {
      bottom: 300px;
    }
  }
}

@media (max-width: 768px) {
  .banner .carousel .carousel-inner .carousel-item .carousel-caption {
    display: block!important;
  }

  .links .card {
    height: 150px;
  }
}

@media (max-width: 700px) {
  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      bottom: 230px;
    }

    .carousel-indicators {
      bottom: 200px;
    }
  }

  .information.d-flex .info-img img {
    max-width: 600px;
  }

  .links .card {
    .card-body {
      .card-title {
        margin-bottom: 30px;
      }

      .podrobno {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 635px) {
  .information.d-flex .info-img img {
    max-width: 550px;
  }

  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      bottom: 180px;
    }

    .carousel-indicators {
      bottom: 160px;
    }
  }
}

@media (max-width: 610px) {
  .banner .carousel .carousel-inner .carousel-item .carousel-caption {
    h2 {
      font-size: 25px;
    }

    p {
      font-size: 16px;
    }
  }

  footer {
    .mayas-container {
      margin-left: 80px;
    }

    .others a {
      font-size: 18px;
      margin-right: 20px;
    }

    .abs {
      right: 30px;
    }
  }
}

@media (max-width: 595px) {
  .information.d-flex .info-img img {
    max-width: 500px;
  }

  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      bottom: 130px;
    }

    .carousel-indicators {
      bottom: 110px;
    }
  }
}

@media (max-width: 545px) {
  .information.d-flex .info-img img {
    max-width: 450px;
  }
}

@media (max-width: 510px) {
  .information.d-flex .info-img img {
    max-width: 400px;
  }

  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      bottom: 80px;
    }

    .carousel-indicators {
      bottom: 70px;
    }
  }

  .banner .carousel .carousel-inner {
    .carousel-item {
      .black {
        display: none!important;
      }

      .three {
        display: block!important;
      }

      .carousel-caption {
        bottom: 330px;

        h2 {
          font-size: 30px;
        }

        p {
          font-size: 20px;
        }
      }
    }

    .carousel-indicators {
      bottom: 300px;
    }
  }
}

@media (max-width: 470px) {
  .banner .fixed-hamburger .sidebar {
    min-width: 230px;
  }

  .banner .fixed-hamburger {
    .sidebar__menu {
      font-size: 25px;
      margin-top: 30px;
    }

    .sidebar {
      max-width: 200px;
      padding: 0 30px;
    }
  }

  .mayas-container {
    margin-left: 90px;
  }

  .consultation .right-block {
    margin-left: 90px;

    p {
      margin-bottom: 30px;
    }

    h1 {
      margin-bottom: 10px;
    }
  }

  .banner {
    .logotype {
      left: 90px;
      top: 10px;

      img {
        max-height: 30px;
      }
    }

    .sign-in {
      top: 10px;
      right: 20px;

      svg {
        width: 25px;
      }

      span {
        font-size: 16px;
      }
    }

    .carousel .carousel-inner {
      .carousel-item .carousel-caption {
        bottom: 330px;
        left: 100px;
        max-width: 220px;

        h2 {
          font-size: 20px;
        }

        p {
          font-size: 14px;
        }
      }

      .carousel-indicators {
        bottom: 300px;
        margin-left: 100px;
      }
    }
  }

  .information {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .information.d-flex .info-img img {
    max-width: 800px;
  }

  .links {
    padding-bottom: 50px;
  }

  footer {
    min-height: 90px;

    .others {
      display: none!important;
    }
  }
}

@media (max-width: 390px) {
  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      bottom: 100px;
      right: 10px;
      max-width: 200px;
    }

    .carousel-indicators {
      bottom: 80px;
      margin-left: 100px;
    }
  }
}

@media (max-width: 380px) {
  .links .card .card-body {
    margin-top: 20px;

    .card-title {
      font-size: 15px;
    }

    .podrobno {
      font-size: 14px;
    }
  }

  .information.d-flex .info-img img {
    max-width: 500px;
  }

  .consultation .right-block .form-row input,
  .consultation .right-block .form-group textarea {
    font-size: 16px;
  }

  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      bottom: 170px;
      right: 10px;
      max-width: 200px;
    }

    .carousel-indicators {
      bottom: 160px;
    }
  }
}

@media (max-width: 345px) {
  .banner {
    .carousel .carousel-inner {
      .carousel-item .carousel-caption {
        left: 65px;
      }

      .carousel-indicators {
        margin-left: 65px;
      }
    }

    .logotype {
      left: 65px;
      top: 10px;
    }

    .fixed-hamburger {
      width: 50px;

      .hamburger {
        left: 8px;
      }
    }
  }

  .consultation .right-block {
    margin-left: 70px;
  }

  .mayas-container {
    margin-left: 70px;
  }
}

@media (max-width: 320px) {
  .banner .carousel .carousel-inner .carousel-item .carousel-caption {
    h2 {
      font-size: 16px;
    }

    p {
      font-size: 13px;
      line-height: 15px;
    }
  }

}

@media (max-width: 310px) {
  .links .card {
    height: 175px;
  }

  .banner .carousel .carousel-inner {
    .carousel-item .carousel-caption {
      bottom: 170px;
      right: 10px;
      max-width: 200px;
    }

    .carousel-indicators {
      bottom: 160px;
    }
  }
}